@using BlazorServer.Business.BLL.TablaDatos
@using BlazorServer.Business.Interfaces.Contratacion
@using BlazorServer.DataAccess.Models
@using BlazorServer.Presentation.Shared.GlobalesComponet
@inject IConveniosSAM _ConveniosSAMService
@inject IJSRuntime JSRuntime
@inject TablaDatoService TablaDatoService
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <h4 class="mb-sm-0 btn-outline-primary">Gestión Contratación</h4>
                </ol>
            </div>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a>Consulta Contratos</a></li>
                    <li class="breadcrumb-item active">Gestiona Contratos</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <MudCard>
        <div class="card">
            <div class="card-body align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">

                    <MudItem xs="0">
                        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Warning" Class="mb-2" Icon="@Icons.Material.Filled.Add" Disabled="@isNuevoDisabled" @onclick="BtnNuevoClick" Title="Nuevo Registro">
                            <MudIcon Icon="@Icons.Filled.AddBox" Size="Size.Large" />
                        </MudButton>
                        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Success" Class="mb-2" Icon="@Icons.Material.Filled.Save" Disabled="@isGuardarDisabled" @onclick="BtnGuardarClick" Title="Guardar">
                            <MudIcon Icon="@Icons.Filled.Save" Size="Size.Large" />
                        </MudButton>
                        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Error" Class="mb-2" Icon="@Icons.Material.Filled.Cancel" Disabled="@isAnularDisabled" @onclick="BtnAnularClick" Title="Anular Registro">
                            <MudIcon Icon="@Icons.Filled.Block" Size="Size.Large" />
                        </MudButton>
                        @* <MudButton Variant="Radzen.Variant.Outlined" Color="Color.Primary" Class="mb-2" Icon="@Icons.Material.Filled.Search" @onclick="BtnBuscarClick" Title="Buscar Registro">
                        <MudIcon Icon="@Icons.Filled.Search" Size="Size.Large" />
                        </MudButton>*@
                    </MudItem>
                </h4>
            </div>
        </div>
    </MudCard>
</div>

@if (isComponentAdd)
{
    <ConvenioAdd @ref="convenioAdd" urlParametersDTO="@urlParametersDTO" SetContinue="GuardarFormularioCliente" />
}
else if (isComponentConsulta)
{

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center highlight-toolbar bg-light ps-3 pe-2 py-1">
                <h4 class="font-monospace text-muted text-uppercase"><strong>Filtros</strong></h4>
            </div>


            <div class="col-lg-12">
                <br />
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudText Typo="Typo.subtitle2" Class="mb-1">Nombre Convenio:</MudText>
                        <MudTextField ValueChanged="@(async (string e) => await OnNombreConvenioChanged(e))"
                                  Variant="MudBlazor.Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudText Typo="Typo.subtitle2" Class="mb-1">Tipo Convenio:</MudText>
                        <RadzenDropDown TValue="long"
                                    Class="w-100"
                                    Placeholder="Selecciona una opción..."
                                    Data="@(new List<Dato> { new Dato { Id = 0, Nombre = "Selecciona una opción..." } }.Concat(_tipoConvenios))"
                                    TextProperty="Nombre"
                                    ValueProperty="Id"
                                    AllowFiltering="true"
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    ValueChanged="@(async (long id) => await HandleSelectionChange(id))"
                                    ValueExpression="@(() => tipoConvenio)"
                                    Value="tipoConvenio" />
                        @*                        <MudTextField @bind-Value="tipoConvenio" Variant="MudBlazor.Variant.Outlined" />
                    *@
                    </MudItem>

                </MudGrid>
                <br />
            </div>

        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">

            @if (mostrarMensaje)
            {
                <MudAlert Severity="Severity.Info">
                    ***** No se encuentran registros *****
                </MudAlert>
            }
            else
            {
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover w-100 dataTable small">
                            <thead class="thead-light outline-badge-primary">
                                <tr>
                                    <MudTh>Código Convenio</MudTh>
                                    <MudTh>Nombre Convenio</MudTh>
                                    <MudTh>Tipo Convenio</MudTh>
                                    <MudTh>Estado</MudTh>
                                    <MudTh>Acciones</MudTh>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                @foreach (var entidad in listaConvenios)
                                {
                                    <MudTr>

                                        <MudTd>@entidad.Codigo</MudTd>
                                        <MudTd>@entidad.Nombre</MudTd>
                                        <MudTd>@entidad.TipoConvenio</MudTd>
                                        <MudTd Align="Center">
                                            <span class="@entidad.EstadoClass">@GetEstado((bool)entidad.Activo)</span>
                                        </MudTd>
                                        <MudTd>
                                            <button Class="btn btn-outline-info btn-icon waves-effect waves-light"
                                        @onclick="() => EditarConvenioAsync(entidad.Id)"
                                        Title="Editar">
                                                <i class="las la-user-alt"></i>
                                            </button>

                                            <button class="@entidad.EstadoColor"
                                        @onclick="() => CambiarEstado(entidad.Id)"
                                        title="@entidad.EstadoTooltip">
                                                <i class="@entidad.IconClass"></i>
                                            </button>
                                        </MudTd>

                                    </MudTr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- Paginación -->
                    <div class="d-flex justify-content-center mt-4">
                        <MudPagination ShowFirstButton="true" ShowLastButton="true"
                               Variant="MudBlazor.Variant.Outlined"
                               Size="Size.Small"
                               Color="Color.Info"
                               Count="@totalPaginas"
                               SelectedChanged="OnPageChanged"
                               Selected="@paginaActual" />
                    </div>
                </div>



            }
        </div>
    </div>

}

