@using BlazorServer.DTO.Request.Contratacion
@using static BlazorServer.Business.BLL.ProcedimientoSamo
@inject IJSRuntime JSRuntime
@inject IConveniosSAM _ConveniosSAMService


<div class="card">
    <div class="card-body p-0">
        <div class="alert alert-warning border-0 rounded-0 m-0 d-flex align-items-center" role="alert">
            <div class="flex-grow-1 text-truncate">
                <div class="d-flex align-items-center gap-2">
                    <MudAvatar Color="Color.Secondary" Variant="MudBlazor.Variant.Filled" Size="Size.Medium">
                        <MudIcon Icon="@Icons.Material.Rounded.Diversity3" Size="Size.Large" /> <!-- Icono para "Controles" -->
                    </MudAvatar>
                    <div>
                        <h6 class="mb-1">Controles</h6>
                    </div>
                </div>
            </div>

        </div>
        @* <div class="row align-items-end">*@
        @*<MudCardHeader>*@
        <!-- Outer Tabs -->
        <MudTabs @bind-ActivePanelIndex="selectedTab" OnPanelIndexChanged="SaveSelectedTab">
            <MudTabPanel Text="Frecuencia">
                <ChildContent>
                    <br>
                    <MudGrid>
                        <MudItem xs="12">
                            <!-- Inner Vertical Card Menu -->
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudCard Class="custom-card" Style="background-color:lightskyblue; cursor: pointer;" @onclick="() => SetInnerTabFrecuencia(1)">
                                        <MudCardContent>
                                            <div class="d-flex align-items-center gap-2">
                                                <MudAvatar Color="Color.Primary" Variant="MudBlazor.Variant.Filled" Size="Size.Medium">
                                                    <MudIcon Icon="@Icons.Material.Rounded.DocumentScanner" Size="Size.Large" />
                                                </MudAvatar>
                                                <div>
                                                    <h6 class="mb-1">Procedimiento</h6>
                                                </div>
                                            </div>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudCard Class="custom-card" Style="background-color:lemonchiffon; cursor: pointer;" @onclick="() => SetInnerTabFrecuencia(2)">
                                        <MudCardContent>
                                            <div class="d-flex align-items-center gap-2">
                                                <MudAvatar Color="Color.Primary" Variant="MudBlazor.Variant.Filled" Size="Size.Medium">
                                                    <MudIcon Icon="@Icons.Material.Rounded.Article" Size="Size.Large" />
                                                </MudAvatar>
                                                <div>
                                                    <h6 class="mb-1">Artículo</h6>
                                                </div>
                                            </div>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                                <!-- Add more MudItem elements here for additional cards -->
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            @if (innerTabFrecuenciaOption == 1)
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <h4 class="mb-sm-0 btn-outline-primary">Gestión Frecuencia</h4>
                                                </ol>
                                            </div>

                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <li class="breadcrumb-item"><a>Consulta Procedimiento</a></li>
                                                    <li class="breadcrumb-item active">Procedimiento/Frecuencia</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <MudCard>
                                        <div class="card">
                                            <div class="card-body align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">
                                                    <MudItem xs="0">
                                                        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Warning" Class="mb-2" Icon="@Icons.Material.Filled.Add" Disabled="@isNuevoDisabledProceFrecuencia" @onclick="BtnProceFrecuenciaNuevoClick" Title="Nuevo Registro">
                                                            <MudIcon Icon="@Icons.Filled.AddBox" Size="Size.Large" />
                                                        </MudButton>
                                                        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Error" Class="mb-2" Icon="@Icons.Material.Filled.Cancel" Disabled="@isAnularDisabledProceFrecuencia" @onclick="BtnProceFrecuenciaAnularClick" Title="Anular Registro">
                                                            <MudIcon Icon="@Icons.Filled.Block" Size="Size.Large" />
                                                        </MudButton>
                                                    </MudItem>
                                                </h4>
                                            </div>
                                        </div>
                                    </MudCard>
                                </div>
                                <div class="col-lg-12">

                                    <div class="card-body">
                                        <div class="table-responsive">

                                            @if (isComponentConsultaProceFrecuencia)
                                            {
                                                <div class="row align-items-end">
                                                    <div class="form-container">
                                                        <div class="card-body">
                                                            <div class="table-responsive">

                                                                <MudTable Items="@listaProceFrecuenciaDTO" Dense="@dense" Filter="FilterFunc" @bind-SelectedItem="selectedItem">
                                                                    <ToolBarContent>
                                                                        <MudSpacer />
                                                                        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                                                    </ToolBarContent>
                                                                    <HeaderContent>
                                                                        <MudTh>Nombre </MudTh>
                                                                        <MudTh>Tipo </MudTh>
                                                                        <MudTh>Acciones</MudTh>
                                                                    </HeaderContent>
                                                                    <RowTemplate>
                                                                        <MudTd>@context.Nombre</MudTd>
                                                                        <MudTd Align="Center">
                                                                            <span class="@context.EstadoClass">@GetEstado((bool)context.Activo)</span>
                                                                        </MudTd>
                                                                        <MudTd>
                                                                            <button class="@context.EstadoColor"
                                                                            @onclick="() => CambiarEstadoProceFrecuencia(context.Id)"
                                                                            title="@context.EstadoTooltip">
                                                                                <i class="@context.IconClass"></i>
                                                                            </button>
                                                                        </MudTd>
                                                                    </RowTemplate>
                                                                    <PagerContent>
                                                                        <MudTablePager />
                                                                    </PagerContent>
                                                                </MudTable>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (isComponentAddProceFrecuencia)
                                            {
                                                <ProcedimientosRedis></ProcedimientosRedis>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (innerTabFrecuenciaOption == 2)
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <h4 class="mb-sm-0 btn-outline-primary">Gestión Frecuencia</h4>
                                                </ol>
                                            </div>

                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <li class="breadcrumb-item"><a>Consulta Artículo</a></li>
                                                    <li class="breadcrumb-item active">Artículo/Frecuencia</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </MudItem>
                    </MudGrid>
                </ChildContent>
            </MudTabPanel>
            <MudTabPanel Text="Autorizaciones">
                <ChildContent>
                    <br>
                    <MudGrid>
                        <MudItem xs="12">
                            <!-- Inner Vertical Card Menu -->
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudCard Class="custom-card" Style="background-color:lightskyblue; cursor: pointer;" @onclick="() => SetInnerTabAutorizaciones(1)">
                                        <MudCardContent>
                                            <div class="d-flex align-items-center gap-2">
                                                <MudAvatar Color="Color.Primary" Variant="MudBlazor.Variant.Filled" Size="Size.Medium">
                                                    <MudIcon Icon="@Icons.Material.Rounded.DocumentScanner" Size="Size.Large" />
                                                </MudAvatar>
                                                <div>
                                                    <h6 class="mb-1">Procedimiento</h6>
                                                </div>
                                            </div>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudCard Class="custom-card" Style="background-color:lemonchiffon; cursor: pointer;" @onclick="() => SetInnerTabAutorizaciones(2)">
                                        <MudCardContent>
                                            <div class="d-flex align-items-center gap-2">
                                                <MudAvatar Color="Color.Primary" Variant="MudBlazor.Variant.Filled" Size="Size.Medium">
                                                    <MudIcon Icon="@Icons.Material.Rounded.Article" Size="Size.Large" />
                                                </MudAvatar>
                                                <div>
                                                    <h6 class="mb-1">Artículo</h6>
                                                </div>
                                            </div>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                                <!-- Add more MudItem elements here for additional cards -->
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            @if (innerTabAutorizacionesOption == 1)
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <h4 class="mb-sm-0 btn-outline-primary">Gestión Autorizaciones</h4>
                                                </ol>
                                            </div>

                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <li class="breadcrumb-item"><a>Consulta Procedimiento</a></li>
                                                    <li class="breadcrumb-item active">Procedimiento/Autorizaciones</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (innerTabAutorizacionesOption == 2)
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <h4 class="mb-sm-0 btn-outline-primary">Gestión Autorizaciones</h4>
                                                </ol>
                                            </div>

                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <li class="breadcrumb-item"><a>Consulta Artículo</a></li>
                                                    <li class="breadcrumb-item active">Artículo/Autorizaciones</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </MudItem>
                    </MudGrid>
                </ChildContent>
            </MudTabPanel>
        </MudTabs>
        @* </MudCardHeader>*@
        @*</div>*@
    </div>
</div>


